{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Cuenta no activada" %}{% endblock %}

{% block content %}
    <p class="alert alert-danger">{% trans "La activacion de la cuenta fallo." %}</p>
    {% url 'home:index' as url %}
    {% include 'index_back.html' with link=url %}
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}
