{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{{ site.name }} {% trans "Aprobación de cuenta" %}</title>
</head>

<body>
<p class="alert alert-successs">
    {% blocktrans %}
    Tu cuenta ha sido aprobada.
    {% endblocktrans %}
    <a href="http://{{site.domain}}{% url 'auth_login' %}">{% trans "log in." %}</a>
</p>
{% url 'home:index' as url %}
{% include 'index_back.html' with link=url %}
</body>

</html>


{% comment %}
**registration/admin_approve_complete_email.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
