{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block content %}
<p>
    {% blocktrans %}
    ¿Olvidaste tu contraseña? Ingresa tu correo electrónico en el formulario a continuación y te enviaremos instrucciones para crear una nueva.
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
        </div>
    {% endfor %}
    <div class="d-grid gap-3 mt-4">
        <button type="submit" class="btn btn-success">{% trans 'Aceptar' %}</button>
    </div>
    {% url 'home:index' as url %}
    {% include 'index_back.html' with link=url %}
</form>
{% endblock %}


{# This is used by django.contrib.auth #}
