{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<p class="alert alert-success">
    {% blocktrans %}
    Te hemos enviado un correo electrónico con un enlace para restablecer tu contraseña. Por favor, revisa tu correo electrónico y haz clic en el enlace para continuar.
    {% endblocktrans %}
</p>
{% url 'home:index' as url %}
{% include 'index_back.html' with link=url %}
{% endblock %}


{# This is used by django.contrib.auth #}
