{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Reestablecer contraseña" %}{% endblock %}

{% block content %}
{% if validlink %}
  <p>{% trans "Ingresa tu nueva contraseña a continuación para restablecerla:" %}</p>
  <form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
        </div>
    {% endfor %}
    <div class="d-grid gap-3 mt-4">
      <button type="submit" class="btn btn-success">{% trans 'Aceptar' %}</button>
    </div>
  </form>
{% else %}
  <p class="alert alert-danger">No se pudo reestablecer la contraseña. por favor intentalo nuevamente </p>
  <a href="{% url 'auth_password_reset' %}">.</a>
{% endif %}
{% url 'home:index' as url %}
{% include 'index_back.html' with link=url %}
{% endblock %}


{# This is used by django.contrib.auth #}
