{% load i18n %}

{% blocktrans %}Saludos{% endblocktrans %} {% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %},

{% blocktrans %}
Estás recibiendo este correo electrónico porque tú (o alguien haciéndose pasar por ti) 
solicitó restablecer tu contraseña en el sitio {{ domain }}. 
Si no deseas restablecer tu contraseña, por favor ignora este mensaje.
{% endblocktrans %}

{% blocktrans %}
Para restablecer tu contraseña, por favor haz clic en el siguiente enlace, o cópialo y pégalo en tu navegador web:
{% endblocktrans %}

<a rel="noreferrer" href="{{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}">
  {{ protocol }}://{{ domain }}{% url 'auth_password_reset_confirm' uid token %}
</a>

{% blocktrans %}Tu nombre de usuario, en caso de que lo hayas olvidado:{% endblocktrans %} {{ user.get_username }}


{% blocktrans %}Mis mejores deseos. {% endblocktrans %}, 
Administracion de
{{ site_name }} {% blocktrans %}{% endblocktrans %}


{# This is used by django.contrib.auth #}
