{% extends 'layout.html' %}

{% block content %}
    <h2 class="fw-bolder display-5 mb-4">Detalle de habitacion</h2>

    <ul class="list-group">
        <li class="list-group-item"><strong>Numero:</strong> {{ object.numero }}</li>
        <li class="list-group-item"><strong>Descripcion:</strong> {{ object.descripcion }}</li>
        <li class="list-group-item"><strong>Precio por dia:</strong> ${{ object.precio_x_dia }}</li>
        <li class="list-group-item"><strong>Disponible:</strong> {{ object.disponible }}</li>
        {% if object.imagen %}
            <li class="list-group-item"><strong>Imagen:</strong><br>
                <img src="{{ object.imagen.url }}" alt="Avatar" class="mt-3 imagen imagen-habitacion">
        {% endif %}
    </ul>
    
    {% url 'hotel:habitacion_list' as url %}
    {% include 'index_back.html' with link=url %}
   
{% endblock content %}

