{% extends 'layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <h2 class="fw-bolder display-5">Reservas</h2>

    <form method="post" action="" enctype="multipart/form-data" class="align-items-center">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {% for error in field.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <div class="d-grid gap-3 mt-4">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </form>
    
    {% url 'hotel:index' as url %}
    {% include 'index_back.html' with link=url %}
{% endblock content %}