$fondo-header: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg');
$fondo-icono: rgb(218, 217, 217);
$object-fit-img: cover;
$sombra: 0 3px 2px -2px #ccc, 0 4px 5px 1px #ccc, 0 2px 7px 1px #ccc;
$color-primary-1: #0059b3cc;
$color-primary-2: #004d99cc;
$color-primary-3: #004080cc;
$color-success-1: #31866d;
$color-success-2: #2b7560;
$color-success-3: #256453;
$color-danger-1: #B22222;
$color-danger-2: #9B1B1B;
$color-danger-3: #841313;
